#banner {
  height: 40px;
  background-color: #0091d5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#home-btn,
#profile-btn,
#logout-btn,
#add-issue-btn {
  border: 3px solid red;
  font-size: x-large;
}

#projects-tab {
  background-color: antiquewhite;
  position: fixed;
  height: 100%;
  width: 150px;
  left: 0;
  top: 40px;
}

#add-project {
  border: 2px solid red;
  padding: 5px;
  margin: 5px 3px;
}

#add-project:hover {
  background-color: rgb(209, 139, 34);
  cursor: pointer;
}

#main-background {
  left: 150px;
  top: 40px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  width: 100%;
}

#main-container {
  display: flex;
  gap: 200px;
}

#total,
#issues-month-box,
#status-box {
  border: 2px solid red;
  padding: 10px;
  width: 500px;
  margin: 20px;
}

#project-name-popup-add {
  height: 30px;
  margin: 20px auto 0 auto;
  display: block;
}

#project-name-popup-close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

#project-name-popup-close-btn:hover {
  background-color: #ff0000;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 100ms ease-in-out;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.banner-btns {
  display: flex;
  justify-content: space-between;
}

.number {
  border: 2px solid blue;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.row {
  display: flex;
}

.centre {
  display: block;
  margin: 0px auto 30px auto;
  text-align: center;
}

.project {
  border: 2px solid red;
  padding: 5px;
  margin: 5px;
}

.project-name-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 400px;
  height: 200px;
  max-width: 75%;
  padding: 10px;
}

#project-name-popup-error {
  margin-top: 5px;
  color: #ff0000;
  font-style: italic;
}

.project-name-popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.project-name-popup-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.project-name-popup-body {
  margin: 20px;
  text-align: center;
}

.project-name-popup-input {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  height: 20px;
  width: 90%;
}
