#banner {
  height: 40px;
  background-color: #0091d5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#home-btn,
#profile-btn,
#logout-btn,
#add-issue-btn {
  border: 3px solid red;
  font-size: x-large;
}

#add-issue-btn:hover {
  cursor: pointer;
}

#projects-tab {
  background-color: antiquewhite;
  position: fixed;
  height: 100%;
  width: 150px;
  left: 0;
  top: 40px;
}

#add-project {
  border: 2px solid red;
  padding: 5px;
  margin: 5px 3px;
}

#delete-popup-close-btn,
#update-popup-close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  display: block;
  margin-right: 0;
  margin-left: auto;
}

#delete-popup-close-btn:hover,
#update-popup-close-btn:hover {
  background-color: #ff0000;
}

#delete-popup-btn,
#update-popup-btn {
  height: 30px;
  margin: 20px auto 0 auto;
  display: block;
}

#overlay,
#overlay2 {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 100ms ease-in-out;
  pointer-events: none;
}

#overlay.active,
#overlay2.active {
  opacity: 1;
  pointer-events: all;
}

#main-background {
  left: 150px;
  top: 40px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.banner-btns {
  display: flex;
  justify-content: space-between;
}

.project {
  border: 2px solid red;
  padding: 5px;
  margin: 5px;
}

.delete-popup,
.update-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 100ms ease-in-out;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 300px;
  height: 150px;
  max-width: 75%;
  padding: 10px;
}

.delete-popup.active,
.update-popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.delete-popup-text,
.update-popup-text {
  text-align: center;
  margin-top: 30px;
}

.issue-main-container {
  border: 1px solid red;
  padding: 20px;
  margin: 20px;
  width: 80%;
  height: 250px;
}

.issue-sub-container {
  display: flex;
  gap: 100px;
}

.issue-btns {
  float: right;
  margin: -20px -20px 0 0;
  display: flex;
  gap: 2px;
}

.row {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.row-box {
  border: 1px solid red;
  padding: 4px;
  width: 120px;
  text-align: center;
}

.description {
  margin-top: 10px;
  border: 1px solid red;
  padding: 4px;
}
